:root
{
    --maincolor: black ;
    --secondarycolor: #2F1C53;
    --shadowcolor: black;
    --secondaryshadowcolor: #A46DFF;

    --textcolor: white;
    --secondarytextcolor: black;
    --captionbackground: white;
    --captiontextcolor: black;
}

*
{
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    
}

p, h2, h3 {
    margin-left: 10px;
    font-weight: 600 !important;
}


h1 {
    font-size: 60px !important;
    font-weight: 900 !important;
    margin-left: 10px;
}


.weather-header {
    background: linear-gradient(45deg, #2F1C53, #A46DFF, #F6D1FD);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}  

.text-white {
    color: azure;
}

.searchClearBtns {
    margin-top: 15px;
    width: 100% !important;
    background-color:#A46DFF !important;
    border-color: #2F1C53 !important;
    color: azure !important;
}

.clearBtn {
        margin-top: 15px;
        width: 100%;
        background-color:#A46DFF;
        border-color: #2F1C53;
        color: azure;
}
#search-input {
    width: 100% !important;
    height: 40px !important;
}

.historyBtn {
    margin-top: 5px;
}

.today-now {
    border-color: #2F1C53 !important;
    border: solid !important;
    border-width: 2px !important;
}

#form-heading {
    margin-left: 0px !important;
}

.forecast {
    background-color: #A46DFF !important;
    width: 175px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: azure;
}
